{% extends "base.html" %}
{% block title %}
	T0D0 APP
{% endblock %}
{% block content%}
<div>
	<table class="table table-striped table-bordered table-hover table condensed" border = '0.9' style="width:100%" border-radius="30px">
	  <tbody>
	  	{% for todoitem in todolist %}
		  <td class="active">
		  	<table class="table" border = '1' border-radius="30px">
				<tr class="success">
					<th class="warning">
						{{todoitem.title}}
					</th>
				</tr>
				<tr class="danger">
					<td class="info">
						{{ todoitem.desc }}
					</td>
				</tr>
			</table>
		  </td>
		{% endfor %}
	  </tbody>
</table>
</div>

{% endblock %}

